.questions {
    width: 300px;
    border: 1px solid black;
}
.questions__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #eeeeee;
}
.questions_question {
    color: #514d86;
}
.questions__answer {
    text-decoration: underline;
    text-decoration-color: #45a749;
    color: #45a749;
    cursor: pointer;
}
