.main {
    min-width: 300px;
    border: 1px solid black;
}
.main__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #eeeeee;
}
.main__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    color: #514d86;
}
.main__text_error {
    color: red;
}
.main__answer {
    text-decoration: underline;
    color: #509d4f;
    cursor: pointer;
}
.inputBlock {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}
.inputBlock__divider {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
