.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.move {
    color: grey;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    margin-top: 10px;
}
